/* ==UserStyle==
@name           fast.com 
@namespace      https://userstyles.world/user/emadadeldev
@version        1.0.0
@description    Light and Dark mode, hidden distractions
@author         emadadeldev
==/UserStyle== */
@-moz-document domain("fast.com") {
    /* fast.com */
    .powered-by-container,
    .footer-container,
    .language-selector-container {
        display: none;
    }

    .logo.centered {
        display: none !important;
    }

    * {
        --background: #1e1e2e;
        --text: #111;
        color: var(--text) !important;
    }
    
    @media (prefers-color-scheme: dark) {
        * {
            --background: #1e1e2e;
            --text: #aaa;
        }
    }

    html,
    body {
        background: var(--background);
    }

    .measurement-label,
    .usage-info-container {
        border-color: unset;
    }
}
